@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
    url(./utils/fonts/Metropolis-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Sentinel";
  src: local("Sentinel"),
    url(./utils/fonts/Sentinel-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Big Caslon";
  src: local("Big Caslon"),
    url(./utils/fonts/Big-Caslon-Medium.ttf) format("truetype");
}

main {
  min-height: 93vh;
}

body {
  overflow-x: hidden;
}
